.root {
  min-width: 275;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}

.title {
  font-size: 14;
}
.pos {
  padding-bottom: 30;
}

.flex-row {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
}

.row-flex-item {
  flex:1 1 auto;
  text-align:center;

  margin:5px;  /* and that, will result in a 10px gap */
}